extends ../../layouts/empty

block content
  h1: +logoLink('login', '', '/', '44px')
  h2= heading
  #forgot-fields
    p.modal__fields-text.text-center Введите указанный при регистрации адрес электронной почты, и мы вышлем вам ссылку для сброса пароля.
    form.form.form--forgot
      fieldset.form-group
        label.form__label(for='forgot-email') Email
        input#forgot-email.form__input(type='email', name='email', autocomplete='email', required)
      fieldset.form-group
        button.button.button--flat(type='submit') Продолжить
    footer.modal__footer
      p.modal__fields-text.text-center
        | Нет аккаунта? 
        a(href="/auth/signup") Зарегистрируйтесь