extends ../../layouts/empty

block content
  h1: +logoLink('login', '', '/', '44px')
  h2= heading
  #forgot-fields
    p.modal__fields-text.text-center Минимальная длина пароля: 8 символов.
    form.form.form--reset-pasword
      input#token.form__input(type='hidden', name='token' value=`${token}` required)
      fieldset.form-group
        label.form__label(for='password') Пароль
        input#password.form__input(type='password', name='password', autocomplete='new-password', minlength=8, required)
      fieldset.form-group
        label.form__label(for='password-confirm') Подтверждение пароля
        input#password-confirm.form__input(type='password', name='passwordConfirm', autocomplete='new-password', minlength=8, required)
      fieldset.form-group
        button.button.button--flat(type='submit') Задать новый пароль
    footer.modal__footer
      p.modal__fields-text.text-center
        | Токен недействителен или истек? 
        a(href="/auth/password-reset") Запросите новый
        |.