html {
	position: relative;
	min-height: 100%;
	line-height: 1.35;
	-webkit-text-size-adjust: 100%;
	box-sizing: border-box;
}
html,
html .scrollable {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: 100%;

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: $color--body;
  }

  &::-webkit-scrollbar {
    width: 6px;
    background-color: $color--body;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color--lightDark;
  }
}

html[data-active~=page-menu] {
  width: 100%;
  overflow: hidden;
  
  &:before {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $color--overlay;
    z-index: 100;
    content: "";
  }
}

html[data-active~=page-filter] {
  @include md-block(){
    .navigation,
    .page-header,
    .content,
    .page-footer {
      transition: all 0.3s ease;
      margin-right: 280px;
    }
  }

  @include to($break_md){
    width: 100%;
    overflow: hidden;
  
    &:before {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: $color--overlay;
      z-index: 100;
      content: "";
    }
  }
}