.signup-social-buttons
  a.button.button--google(href='/auth/google', title='Войти с помощью Google'): +svg('google')
  //- a.button.button--twitter(href='/auth/twitter', title='Войти с помощью Twitter'): +svg('twitter')
  a.button.button--vk(href='/auth/vkontakte', title='Войти с помощью ВКонтакте'): +svg('vk')
  a.button.button--facebook(href='/auth/facebook', title='Войти с помощью Facebook'): +svg('facebook')