// Typography
$base-font-size: 21px;
$font-primary: "Roboto", "Arial", sans-serif;
$font-secondary: "Montserrat Alternates", "Georgia", sans-serif;

// Colors
$color--white: #ffffff;
$color--body: #f5f5f5;
$color--light: #eeeeee;
$color--gray: #dddddd;
$color--muted: #bac8d3;
$color--lightDark: #9d9d9d;
$color--lightGray: #6d6d6d;
$color--darkGray: #666666;
$color--dark: #404040;
$color--black: #333333;
$color--main: #1c384d;
$color--accent: #2ebbab;
$color--teal: #6dd5be;
$color--green: #00df61;
$color--red: #fc6e57;
$color--blue: #29d5fb;
$color--yellow: #f9d800;
$color--google: #ea4335;
$color--twitter: #55acee;
$color--facebook: #3b5998;
$color--pinterest: #cb2027;
$color--vk: #4a76a8;
$color--ok: #ee8208;
$color--whatsapp: #00E676;
$color--reddit: rgb(255, 69, 0);
$color--overlay: rgba(8,25,43,.75);

$icon--arrow--left: "data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='8px' version='1.1' viewBox='0 0 32 32'><path fill='%23999999' fill-opacity='0.5' d='M9.599,30.43L6.57,27.4C6.092,26.923,6,26.335,6,26c0-0.479,0.194-1.029,0.576-1.412L15.165,16L6.576,7.412  C6.194,7.029,6,6.479,6,6c0-0.335,0.092-0.923,0.57-1.4l3.03-3.03C10.077,1.092,10.665,1,11,1c0.479,0,1.029,0.194,1.412,0.576  l13.006,13.008C25.778,14.945,26,15.448,26,16c0,0.556-0.235,1.066-0.584,1.416L12.412,30.424C12.029,30.806,11.479,31,11,31  C10.665,31,10.077,30.908,9.599,30.43z'/></svg>";