.search {
  flex: 1;
  margin-left: 20px;
  margin-right: 20px;

  .form-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 22px;
    background-color: $color--light;
    margin-bottom: 0;
    &:hover {
      background-color: $color--gray;
    }
  }

  .form__input {
    flex: 1;
    min-width: 64px;
    background-color: transparent;
  }

  &__submit {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: $color--white;
  }

  &.focus {
    .form-group {
      background-color: $color--dark;
    }
  }
}