extends layouts/default

block content
  p Здравствуйте, #{firstName}!,
  p Вы сообщили, что потеряли свой пароль CraftHub.
  p Не волнуйтесь! Используйте следующую ссылку для сброса пароля: 
    a(href=`${url}`, target="_blank", rel="noopener noreferrer") #{url}
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Сбросить пароль
  p Если вы не используете эту ссылку в течение 10 минут, она перестанет работать.
  p - С уважением, команда CraftHub