extends layouts/default

block content
  p Здравствуйте, #{firstName}!,
  p Сообщаем вам, что ваш пароль GitCrafts был изменен.
  p Если вы не выполняли это действие, то можете восстановить доступ, введя свой Email на 
    a(href=`${url}`, target="_blank", rel="noopener noreferrer") странице сброса пароля
    |.
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Восстановить доступ
  p Пожалуйста, не отвечайте на это письмо. Мы никогда не запрашиваем пароли у пользователей и настоятельно рекомендуем вам не сообщать его кому-либо.
  p - С уважением, команда GitCrafts