extends layouts/default

block content
  p Здравствуйте, #{firstName},
  p Добро пожаловать в сообщество GitCrafts! Мы рады, что Вы присоединились к нам 🎉🙏
  p По ссылке ниже Вы сможете перейти в свой личный кабинет.
  if password
    p Вы можете войти с помощью привязанных социальных сетей или использовать email и пароль:
    ul
      li=`Email: ${email}`
      li=`Пароль: ${password}`
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Перейти в личный кабинет
  p - С уважением, команда GitCrafts